.tile {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}
.tile.light {
    background-color: white;
}
.tile.dark {
    background-color: #759655;
}
.tile.tile-highlighted {
    background-color: red !important;
}
.tile.isPossibleMove {
    background-color: blue !important;
}
.tile.is-dragging-over {
    background-color: green !important;
    cursor: grabbing !important;
}
.piece {
    width: 100%;
    height: 100%;
    background-size: contain;
}